body {
    background-color:lightgray;
}
h1 {
    color: blue;
    text-align: center  ;
}

h3 {
    color:green;
    background-color: black;
    text-align: center;
}

a {
    color: red;
}

p {
    color: black;
    text-align: center;
}

img {
    height: 500px;width: 500px;
}

div {
    text-align: center;
}